& when (@media-common = true) {
  #bv-checkbox-reviews-termsAndConditions {
    float: left;
  }
  .product-share {
    float: right;
  }
  .catalog-product-view .product-info-main .action.towishlist{
    margin: 4px 4px 0 0;
  }
    // body .fotorama__arr, .fotorama__thumb__arr{
    //   background: rgba(165,0,52,0.55);
    // }
    // body .fotorama__arr:hover, .fotorama__thumb__arr:hover{
      
    //     background-color: rgba(165,0,52, 0.32);
    // }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .catalog-product-view{  
    .product-tabs-container.has-mobile-sticky-header {
    .owl-carousel .owl-nav button[class*='owl-'] {
        padding: 0;
        font-size: 10px;
        width: 15px;
        background: #a50034;
        }
    }
    
  }
  
    #text {
        width: 50%;
    }
      .short_description {
      height: 50px;
      overflow: hidden;
      overflow: hidden;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      position: relative;
      }
      .short_description.draw {
          height: 150px;
          
      }
      .des-inc-item{
          display: block;
          width: 34px;
          height: 12px;
          position: absolute;
          left: 50%;
          bottom: 0px;
          margin-left: -17px;
          background: url(../images/label_open.png) no-repeat 0 bottom;
          border: 0;
          text-indent: -9999em;
          background-size: 34px;
      }
      .short_description.draw-btn {
      height: 150px;
      }	
      .short_description.draw .des-inc-item {
          display: none;
      }
 
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .product-tabs-container.has-sticky-header{
    display: flex;
    .stiky-product-name {
      text-align: left;
      padding-left: 45px;
      width: 40%;
      max-width: 510px;
      margin: 0 0 0 auto;
      line-height: 1.5em;
      max-height: 3em;
      overflow: hidden;
      color: #333;
      word-break: keep-all; 
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .container {
      width: 60%;
      text-align: right;
      padding: 0;
      margin: 0 auto 0 0;
      max-width: 770px;
      vertical-align: middle;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }
}


@media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1)) {
  .product-tabs-container.has-sticky-header.has-mobile-sticky-header{
    justify-content: center;
    .container{
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .stiky-product-name {
      display: none;
    }
  }
}


// pdp nav css
  .fotorama__thumb__arr {
    opacity: 1 !important;
    visibility: visible !important;
  }

// .fotorama__nav-wrap--vertical {
//   .fotorama__nav__shaft {
//     max-height: unset !important;
//   }
// }

.fotorama__nav-wrap.fotorama__nav-wrap--vertical {
  overflow-y: inherit !important;
}
.fotorama__nav {
  text-align: center;
}
.fotorama__nav .fotorama__thumb-border {
  margin-top: 0;
}
@media(max-width:480px){
  .catalog-category-view{
    .product-image-photo.default_image {
      margin-top: 20px;
  }
  }
}


#Btn_360 {
  position: relative;
  left: 21px;
}
.catalog-product-view .product.media #Btn_360 {
  left: 7px !important;
}


.fotorama__stage .fotorama__arr--next {
  right: 0 !important;
}
.fotorama__stage .fotorama__fullscreen-icon {
  right: 0px !important;
}
.fotorama__thumb__arr--right .fotorama__thumb--icon {
  background-position: -28px -346px;
}
.fotorama__nav-wrap--vertical .fotorama__nav__shaft {
  margin-top: inherit;
}
.fotorama__thumb {
  background-color: transparent;
}
.fotorama__fullscreen .fotorama__zoom-in {
  left: 20px;
}
.fotorama__fullscreen .fotorama__zoom-out {
  left: 20px;
}
.fotorama__arr--disabled {
  display: none;
}

.fotorama__nav .fotorama__thumb-border {
  border-color: #a50034;
}
.fotorama .fotorama__nav-wrap--vertical .fotorama__nav__shaft{
  margin-top: inherit;
  max-height: inherit;
  overflow: unset;
}

// media css
  .fotorama__arr {
    width: 35px;
    .fotorama__arr__arr {
      background: none;
      width: auto;
      height: auto;
      &::before {
        content: '\e81a';
        font-family: 'porto-icons';
        font-size: 22px;
        font-weight: 600;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 29px;
        display: block;
        color: #222529;
      }
    }
    &--prev {
      .fotorama__arr__arr {
        &::before {
          content: '\e819';
        }
      }
    }
    &--next {
      right: 0 !important;
    }
  }
  .fotorama__caption {display: none;}
  .fotorama__fullscreen-icon {
    width: 35px;
    height: 35px;
    background: none;
    display: block;
    top: auto;
    bottom: 0;
    right: 0 !important;
    text-align: center;
    line-height: 34px;
    color: #222529;
    &::before {
      content: '\f882';
      font-family: 'Porto-Icons';
      font-size: 15px;
      font-weight: 300;
      -webkit-font-smoothing: antialiased;
    }
    .fotorama--fullscreen & {
      bottom: auto;
      top: 0;
      &::before {
        content: '\f819';
        font-size: 19px;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }
  

  .fotorama__fullscreen {
    .fotorama__zoom-in, .fotorama__zoom-out {
      width: 40px;
      height: 40px;
      background: none;
      line-height: 40px;
      color: #222529;
      text-align: center;
      &::before {
        font-family: 'porto-icons';
        font-size: 15px;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
      }
    }
    .fotorama__zoom-in {
      top: 10px;
      &::before {
        content: '\f882';
      }
    }
    .fotorama__zoom-out {
      top: 60px;
      &::before {
        content: '\f883';
      }
    }
  }
.fotorama__stage .fotorama__arr:active, .fotorama__thumb__arr:active {
    background-color: transparent;
}
.fotorama__nav-wrap.fotorama__nav-wrap--vertical {
  width: auto;
}
.fotorama__stage .fotorama__arr, .fotorama__thumb__arr{
  background-color: transparent;
}

.catalog-category-view .products-grid .product-item .product-item-info .product.details strong .product-item-link {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 16px !important;
}
@media(min-width:1440px){
  .catalog-category-view .products-grid .product-item .product-item-info .product.details strong .product-item-link {
      width: 273px;
  }
  }
@import "_extend-child.less";
